@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-custom-opened {
  width: 150px;
}

.navbar-custom-closed {
  width: 40px;
}

.source-card {
  height: 25rem;
  width: 30rem;
}

.source-card-media {
  height: auto;
  width: auto;
}
