@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-custom-opened {
  width: 150px;
}

.navbar-custom-closed {
  width: 40px;
}

.source-card {
  height: 20rem;
  width: 20rem;
}

.source-card-media {
  height: 20rem;
  width: 40rem;
}
